nav {
display: flex;
flex-direction: row;
margin: 20px 100px;
justify-content: space-between;
align-items: center;
}
.logo {
    font-size: 48px;
}
#linksNavbar a{
    margin: 10px;
    font-size: 20px;
}
#hero-image-front{
    height: 483px;
    width: 347px;
}
#hero-image-back{
    height: 348px;
    width: 275px;
}